<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href = "logo.svg">
	<link rel="stylesheet" href = "styles.css">
	<title>Toto Perrero</title>
</head>
<body>

	<div class = "Header">
		<h1 class = "Header-Title">Toto Perrero</h1>
		<button class="Header-Button">Haga su pedido</button>
	</div>
	<div class="Slider-Box">
		<ul class = "Slider-UL">
			<li class = "Slider-LI">
				<img src = "c_1.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_2.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_3.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_4.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_5.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_6.png">
			</li>
		</ul>
	</div>
</body>
</html>