<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href = "logo.svg">
	<link rel="stylesheet" href = "styles.css">
	<title>Toto Perrero</title>
</head>
<body>
	<div class = "Header">
		<h1 class = "Header-Title">Toto Perrero</h1>
		<button class="Header-Button">Haga su pedido</button>
	</div>
	<div class="Slider-Box">
		<ul class = "Slider-UL">
			<li class = "Slider-LI">
				<img src = "c_1.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_2.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_3.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_4.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_5.png">
			</li>
			<li class = "Slider-LI">
				<img src = "c_6.png">
			</li>
		</ul>
	</div>
	<div class = "Menu">
		<h1 class = "Menu_Title">Disfruta del mejor servicio!</h1>
	</div>
	<div class="Container"> 
		<div class="Container-Card"> 
			<h2>Hamburguesas a partir de 5$</h2>
			<img class = "Container-Img" src = "h_1.png"> 
		</div> 
		<div class="Container-Card"> 
			<h2>Perros calientes a partir de 1.6$</h2> 
			<img class = "Container-Img" src = "p_1.jpg"> 
		</div> 
		<div class="Container-Card"> 
			<h2>Pasapalos a partir de 2$</h2>
			<img class = "Container-Img" src = "t_1.jpg"> 
		</div>
		<div class="Container-Card"> 
			<h2>Hamburguesas a partir de 5$</h2>
			<img class = "Container-Img" src = "h_1.png"> 
		</div> 
		<div class="Container-Card"> 
			<h2>Perros calientes a partir de 1.6$</h2> 
			<img class = "Container-Img" src = "p_1.jpg"> 
		</div> 
		<div class="Container-Card"> 
			<h2>Pasapalos a partir de 2$</h2>
			<img class = "Container-Img" src = "t_1.jpg"> 
		</div>
	</div>
	<div class = "Footer">
		<div class="Footer-Logo"> 
			<img class = "Footer-Logo-Img" src="Instagram.svg" alt="Instagram" href="#"> 
			<img class = "Footer-Logo-Img" src="Facebook.svg" alt="Facebook" href="#">
		 </div>
		<div class="Footer-Info"> 
			<h4 class = "Footer-Info-H4">Más Información</h4> 
			<p class = "Footer-Info-Paragraph">Teléfono: (123) 456-7890</p> 
			<p class = "Footer-Info-Paragraph">Email: info@ejemplo.com</p>
			<p class = "Footer-Info-Paragraph">Dirección: La morera #123, San Juan De Los Morros, Guárico</p>
		 </div> 
		 <div class="Footer-Links"> 
			<a class = "Footer-Links-Ancle" href="#">Términos y Condiciones</a> 
			<a class = "Footer-Links-Ancle" href="#">Política de Privacidad</a> 
			<a class = "Footer-Links-Ancle" href="#">Contacto</a> 
		</div>
	</div>
</body>
</html>