<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href = "logo.svg">
    <link rel="stylesheet" href = "styles.css">
    <title>Éxito</title>
</head>
<body class = "SuccessBody">
  <div class = "CtnSu">
    <div class = "Success">
      <h1 class = "Succes_Text">Formulario enviado exitosamente</h1>
    </div>
  </div>
</body>
</html>
